{% load staticfiles %}

<h2>Affiliate Disclosures</h2>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Participation</div>
  <div class="panel-body">
    <p>WhichEdition is a participant in the Amazon
Services LLC Associates Program, an affiliate advertising program designed
to provide a means for sites to earn advertising fees by advertising and
linking to amazon.com. </p>
  </div>
</div>
<div class="panel panel-default">

  <!-- Default panel contents -->
  <div class="panel-heading">Trademarks</div>
  <div class="panel-body">
    <p>Amazon, the Amazon logo, AmazonSupply, and the AmazonSupply logo are
trademarks of Amazon.com, Inc. or their affiliates. </p>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Pricing and Availability</div>
  <div class="panel-body">
    <p>Product prices and availability are accurate as of the date/time indicated
and are subject to change. Any price and availability information displayed
on the amazon.com or affiliated site at the time of purchase will apply to
the purchase of this product.</p>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Content Disclaimer</div>
  <div class="panel-body">
    <p>CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON SERVICES LLC.
THIS CONTENT IS PROVIDED ‘AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY
TIME.</p>
  </div>
</div>






<!--<header><img id='banner' src="% static "books/we_banner.png" %" alt="WHICH EDITION"/>
WhichEdition Header - {{ current_book.title }}</header> -->

