{% extends "books/__l_50_50.html" %}

{% block title %}{{ current_book.title }} | {{ block.super }}{% endblock %}

{% block main_col %}
    {% include "books/_book_compare.html" with book=current_book edition_type='Current' price_new=current_price price_used=current_price_used %}
{% endblock %}

{% block side_col %}
    {{ previous_book.current_price.price }}
    {% include "books/_book_compare.html" with book=previous_book edition_type='Previous' price_new=previous_price price_used=previous_price_used %}
{% endblock %}


<!--<header><img id='banner' src="% static "books/we_banner.png" %" alt="WHICH EDITION"/>
WhichEdition Header - {{ current_book.title }}</header> -->

