{% extends "books/__l_one_col.html" %}

{% block title %} Search | {{ block.super }}{% endblock %}

{% block main_col %}


       
You searched for "{{ query_string }}" and the results are listed below.
    <ul>
    {% for book in found_entries %}
        {% if book.current_edition %}
            <p> <a href="{% url 'books:compare' book.id %}"><img src='{{book.imageLink}}' class='search' > <strong>{{ book.title }}</strong> (Edition: {{book.edition}}) </a></p>
        {% endif %}
    {% endfor %}
    </ul>
    
{% endblock %}

