{% extends "books/__l_one_col.html" %}

{% block title %} Search | {{ block.super }}{% endblock %}

{% block main_col %}
<form method="get" action="search">
          

<label for="id_q">Search:</label>
           <input type="text" name="q" id="id_q" value="{{ query_string }}"/>
           <input type="submit" value="Submit"/>


        </form>

       
You searched for "{{ query_string }}" and the results are listed below.
    <ul>
    {% for book in found_entries %}
        <li><a href="{% url 'books:compare' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
    
{% endblock %}

